@font-face {
    font-family: 'Volvo Novum 3.1';
    src: url('https://github.com/lakeisacsson/volvo-novum-font/blob/main/VolvoNovum3-Bold.woff2') format('woff2'),
        url('https://github.com/lakeisacsson/volvo-novum-font/blob/main/VolvoNovum3-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

